.button-store{
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    font-family: Arial, 'Roboto', sans-serif;
    background-color: #252c41;
    width: 200px;
    height: 60px;
    text-decoration: none;
    color: #FFF;
    border: none;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    transition: all 300ms linear;
    
 }
 .button-store:hover{
   background-color:#FFF;
   color: #e24647;
}

.button-store:active{
   transform: scale(0.9)
}

 .button-store.-second{
    background-color: transparent;
    border: 2px solid #FFF;
    width: 218px;
    line-height: 56px;
    margin-right: 38px;
    cursor: pointer;
 }
 .button-store.-second:hover{
   background-color: #FFF;
   border: 2px solid #FFF;
   color: #e24647;  
}

 .button-store > button,
 .button-store > a {
    font-size: inherit;
    background-color: inherit;
    border: none;
    color: inherit;
    text-decoration: inherit;
 }




