.container-store{
    background-color: #e24647;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    padding: 55px 60px 165px 0;
    max-width: 1330px;
    box-sizing: border-box;

}

@media (max-width:1470px)
{
    .container-store{
    position: static;
    transform: none;
    width: 100%;
    max-width: 100%
}
}