.description-product{
    color: #fff;
    font-family: Arial, 'Roboto', sans-serif;
    vertical-align: middle;
    

}

.description-product > .title{
    font-size: 25px;
    
    margin-bottom: 50px;
}

.description-product > .item{
    font-size: 20px;
    margin-bottom: 28px;

}

.description-product > .item.-star{
    margin-bottom: 5px;

}

.description-product > .item.-star + .item{
    margin-left: 7px;

}

.description-product > .item.-info{
    font-size: 20px;
    width: 200px;
    text-align: right;

}

.description-product  .contrast{
    text-transform: uppercase;
    float: left;
    
}

.description-product > .item.-last {
    margin-bottom: 72px;

}

.description-product > .text{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
.description-product > .text.-more {
    margin-bottom: 0;

}

.description-product .action{
    color: inherit;
    text-decoration: none;
}

.description-product > .item.-heart{
    position: absolute;
    transform: translatex(-100%);
    left: -47px;
    top: 8px;
    cursor: pointer;
    transition: all .2s linear;
    width: 33h 29px;
}

/* .description-product > .item.-active{
    background-color: #fff;
} */

.description-product .icon{
     transition: transform 100ms linear;
}

.description-product .icon.-active{
    display: none;
}

.description-product > .item.-active .icon{
    display: none;
}

.description-product > .item.-active .icon.-active{
    display: block;
}
.description-product .star.-active > .icon {
    display: none;
}

.description-product .star.-active > .-active {
    display: block;
}
.description-product .star{
    display: inline-block;
    /* margin-bottom: 10px; */
}

.description-product .icon:hover{
    transform: scale(1.2);
    transition: transform 100ms linear;
}