.header-store{
    color: #fff;
    overflow: hidden;
    /* margin: 0 115px; */
    padding-left: 60px;
    margin-bottom: 80px;
 }

.header-store > .title{
    font-size: 40px;
    font-family: Arial, 'Roboto', sans-serif;
    float: left;
    text-transform: uppercase;
    cursor: pointer;
    
}

.header-store > .navigation{
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     float: right;
    
}

.header-store input[type="search"]{
    background-color: #e24647;
    border:0;
    border-bottom: 1px solid #FFF;
    color: inherit;
    font-family: Arial, 'Roboto', sans-serif;
    font-size: 20px;
    margin-right: 65px;
    padding: 8px;
    width: 358px;
    vertical-align: bottom;

}

.header-store .action {
    text-decoration: none;
    color: inherit;
    position: relative;
  }

.header-store .action:after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: #FFF;
    position: relative;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform: transform 200ms linear;
    transform-origin: center left;
    margin-left: 60px;

    
}

.header-store .action:hover:after {
    transform: scale(1);
}   


.header-store .action.-last{
    margin-right: 0;
}