/* .search-store{
    color: #FFF;
    font-family: Arial, 'Roboto', sans-serif;
    font-size: 20px;
}

 */
 .search{
    background-color: #e24647;
    border:0;
    border-bottom: 1px solid #FFF;
    color: #FFF;
    font-family: Arial, 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: 315px;
    width: 358px;
    vertical-align: baseline;
    
}