.wrap-product{
display: inline-block;
width: 554px;
vertical-align: top;
position: relative;
}

.wrap-product > .buttons{
    position: absolute;
    bottom: 0;
    transform: translateY(calc(100% + 95px));
}